extends layout

block content
 .container
  h1 #{title}
  .col-md-6
   form(method='post', action='/categories/edit/#{category._id}')
    .form-group
     label Title:
     input.form-control(name='title', type='text', value='#{category.title}')
    .form-group
     label Description:
     textarea.form-control(name='description') #{category.description}
    input.btn.btn-primary(style='margin-right:2%;',type='submit', name='submit', value='Update')
    a(class='btn btn-default', href="/manage/categories") Back
    button(class='btn btn-danger pull-right category-delete', data-cat-id="#{category._id}") Delete
    
