extends layout

block content
 .container
  h1 #{title}
  != messages()
  .table-responsive
   table(class='table table-striped table-bordered')
    tr
     th Artcle Title
     th Author
     th Created At
     th Action
    each article, i in articles
     tr 
      td #{article.title} 
      td #{article.author}
      td #{moment(article.created_at).format('MMMM Do YYYY, h:mm:ss a')}
      td
       a(class='btn btn-tiny btn-default', href='/manage/articles/edit/#{article._id}') Edit
  

  a(class='btn btn-tiny btn-success', href='/manage/articles/add') Add Article